.header img{

    height: 80px;
}

.header{

    text-align: center;
}


.header nav{  
background-color: black;
line-height: 45px;
font-size: 20px;

}

nav a{

    text-decoration: none;
    color:rgb(231, 220, 255);
    margin-right: 34px;
    padding: 10px;
}

nav a:hover{

    background-color: gray;
}